<h1>Editing personal detail</h1>

<%= render "form", personal_detail: @personal_detail %>

<br>

<div>
  <%= link_to "Show this personal detail", @personal_detail %> |
  <%= link_to "Back to personal details", personal_details_path %>
</div>
